<div class="home">
    <div fxLayout="row" fxLayoutAlign="center center" class="page-container">
        <mat-card class="box" style="width: 230px; height: 110px; margin-top: 20px; margin-left: 10px;">
            <mat-card-header>
              <mat-card-title>Pharmacy profile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="pharmacyprofile" routerLinkActive="selected" class="ph-names">
                    <i class="fa fa-user-circle-o"></i>
                </a>
             </mat-card-content>
        </mat-card>
        <mat-card class="box" style="width: 230px; height: 110px; margin-top: 20px; margin-left: 15px;">
            <mat-card-header>
              <mat-card-title>Pharmacy admin profile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="adminprofile" routerLinkActive="selected" class="address">
                    <i class="fa fa-user-circle-o"></i>
                </a>
            </mat-card-content>
        </mat-card>
        <mat-card class="box" style="width: 230px; height: 110px; margin-top: 20px; margin-left: 15px;">
            <mat-card-header>
              <mat-card-title>Dermatologist free appointments</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="freeapder" routerLinkActive="selected" class="description">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                </a>
            </mat-card-content>
        </mat-card>
        <mat-card class="box" style="width: 230px; height: 110px; margin-top: 20px; margin-left: 15px;">
            <mat-card-header>
              <mat-card-title>Dermatologist</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="listofdermatologist" routerLinkActive="selected" class="freeap">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                </a>
            </mat-card-content>
        </mat-card>
        <mat-card class="box" style="width: 230px; height: 110px; margin-top: 20px; margin-left: 15px;">
            <mat-card-header>
              <mat-card-title>Pharmacists</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="listofpharmacists" routerLinkActive="selected" class="med">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                </a>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="page-container2">
        <mat-card class="box" style="width: 230px; height: 110px; margin-left: 15px;">
            <mat-card-header>
              <mat-card-title>List of medicaments</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="listofallmedications" routerLinkActive="selected" class="ph">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                </a>
            </mat-card-content>
        </mat-card>
        <mat-card class="box" style="width: 230px; height: 110px; margin-left: 15px;">
            <mat-card-header>
              <mat-card-title>Price list</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="pricelist" routerLinkActive="selected" class="med">
                    <i class="fa fa-list" aria-hidden="true"></i>
                </a>
            </mat-card-content>
        </mat-card>
        <mat-card class="box" style="width: 230px; height: 110px; margin-left: 15px;">
            <mat-card-header>
              <mat-card-title>Actions and promotions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="action" routerLinkActive="selected" class="med">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </mat-card-content>
        </mat-card>
        <mat-card class="box" style="width: 230px; height: 110px; margin-left: 15px;">
            <mat-card-header>
              <mat-card-title>Business report</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="breport" routerLinkActive="selected" class="med">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </a>
            </mat-card-content>
        </mat-card>
    </div>
</div>
