<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center margin-top" style="margin-top: 40px;">
    <mat-card class="box" style="width: 1000px;">
        <mat-card-header>
          <mat-card-title>Loyalty program</mat-card-title>
        </mat-card-header>
        <hr/>
        <mat-card-content>
            <mat-card>
                <p style="font-size: 18px;">Points:</p>
                    <br/>
                <p style="font-size: 18px;">Category: </p>
                    <br/>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>