<div class="showCom">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center margin-top" style="margin-top: 40px;">
      <mat-card class="paper" style="width: 2000px;">
        <hr>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortStart="desc" style="width: 1000px;">
              <ng-container matColumnDef="date_of_complaint">
                <th style="width: 200px;" mat-header-cell *matHeaderCellDef mat-sort-header>Date of complaint</th>
                <td mat-cell *matCellDef="let element">{{element.date_of_complaint}}</td>
              </ng-container>
              <ng-container matColumnDef="content">
                <th style="width: 200px;" mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
                <td mat-cell *matCellDef="let element">{{element.content}}</td>
              </ng-container>
              <tr style="width: 200px;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </mat-card-content>
      </mat-card>
    </div>
  </div>