<div class="dialog" fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Change password</mat-card-title>
        </mat-card-header>
            <form class="form" #formControl="ngForm">
                <mat-card-content>
                        <mat-form-field class="full-width">
                        <input matInput placeholder="New password" type="password" name="New password" [(ngModel)]="newPass" required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Confirm Password" type="password" name="Confirm Password" [(ngModel)]="confirmedPass" required>
                        </mat-form-field>
                </mat-card-content>
                <button mat-raised-button (click)="savePass()" [disabled]="!formControl.valid" style="background: rgb(179, 241, 220); margin-left: 180px;">Save</button>
                <button mat-raised-button (click)="closeD()" style="background: rgb(179, 241, 220); margin-left: 40px;">Cancel</button>
            </form>
    </mat-card>
    </div>