.container {
    display: flex;
    
    justify-content: center;
    background-image:url('src\assets\img\apoteka2.jpg');
    background-size:cover;
    height:60em;
}

.input-field {
    margin-right: 10px;
    margin-left: 10px;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.user-info-container-row {
    display: flex;
    justify-content: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  #BEF2DB !important;
}