.container {
    display: flex;
    justify-content: center;
    background-size:cover;
    height:60em;
}

.apoteka2 {
    height:60em;
    background-size:cover;
    width:auto;
    background-position:50% 50%;
    background-image:url('src\assets\img\pozadina1.jpg');
 }

.input-field {
    margin-right: 10px;
    margin-left: 10px;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 100px;
}
.user-info-container-row {
    display: flex;
    justify-content: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  #BEF2DB !important;
}