<!-- <div class="pharmacyProfile">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="paper scrollable-content" style="background-color: rgb(250, 249, 249);">
            <mat-card-header class="navb">
                <div>
                    <p style="font-size:18px"></p>
                </div>

            </mat-card-header>

           <mat-card-content>
                <p style="font-size: 18px;">Name: {{pharmacies.name}}</p>
            <br/>
                <p style="font-size: 18px;">Address: {{pharmacies.address}}</p>
            <br/>
                <p style="font-size: 18px;">City: {{pharmacies.city}}</p>
            <br/>
                <p style="font-size: 18px;">Rate: {{pharmacies.rate}}</p>
            <br/>
                <p style="font-size: 18px;">Description: {{pharmacies.description}}</p>
            <br/>
           </mat-card-content>

        </mat-card>
    </div>
</div> -->
