<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center margin-top" style="margin-top: 40px;">
    <mat-card class="paper">
      <mat-card-header>
      <mat-card-title style="font-size: 30px;">Subscribed pharmacies</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <mat-form-field>
            <input matInput type="text" placeholder="Search">
          </mat-form-field>
          <hr>
        </mat-card-content>
          <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center margin-top" style="margin-top: 80px;">
            <table class="table table-striped">
              <thead>
                  <tr>
                    <th id="Name">Name</th>
                    <th id="Address">Address</th>
                    <th id="City">City</th>
                    <th id="Rate">Rate</th>
                  </tr>
              </thead>
              <tbody>
                 <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
          </div>
  
    </mat-card>
  </div>