<div class="dialog" fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Change profile</mat-card-title>
        </mat-card-header>
            <form class="form" #formControl="ngForm">
                <mat-card-content>
                <mat-form-field class="full-width">
                  <input matInput placeholder="firstname" name="firstname" [(ngModel)]="data.name" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <input matInput placeholder="lastname" name="lastname" [(ngModel)]="data.surname" required>
                </mat-form-field>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="username" name="username" [(ngModel)]="data.username">
                  </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="address" name="address" [(ngModel)]="data.address" required>
                    </mat-form-field>
                <mat-form-field class="full-width">
                  <input matInput placeholder="city" name="city" [(ngModel)]="data.city" required>
                </mat-form-field>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="country" name="country" [(ngModel)]="data.country" required>
                  </mat-form-field>
                      <mat-form-field class="full-width">
                        <input matInput placeholder="phoneNumber" name="phoneNumber" [(ngModel)]="data.number" required>
                      </mat-form-field>
                      </mat-card-content>
                <button mat-raised-button (click)="saveChanges()" [disabled]="!formControl.valid" style="background: rgb(179, 241, 220); margin-left: 300px;">Save</button>
                <button mat-raised-button (click)="closeDialog()" style="background: rgb(179, 241, 220); margin-left: 80px;">Cancel</button>
            </form>
    </mat-card>
    </div>