    <div class="dermatologists">
        <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center margin-top" style="margin-top: 40px;">
          <mat-card class="paper" style="width: 5000px;">
            <mat-card-header>
            <mat-card-title style="font-size: 30px;">All pharmacies</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
             <div>
              <mat-label>Search</mat-label>
            </div>
              <mat-form-field>
                  <input matInput type="text" placeholder="Enter name" (keyup)="doFilter($event.target.value)" [(ngModel)]="search">
                </mat-form-field>
                <hr>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortStart="desc" style="width: 1500px;">
                  <ng-container matColumnDef="name">
                    <th style="width: 200px;" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                  </ng-container>
                  <ng-container matColumnDef="address">
                    <th style="width: 200px;" mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                    <td mat-cell *matCellDef="let element">{{element.address}}</td>
                  </ng-container>
                  <ng-container matColumnDef="city">
                    <th style="width: 200px;" mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
                    <td mat-cell *matCellDef="let element">{{element.city}}</td>
                  </ng-container>
                  <ng-container matColumnDef="rate">
                    <th style="width: 200px;" mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
                    <td mat-cell *matCellDef="let element">{{element.rate}}</td>
                  </ng-container>
                  <ng-container matColumnDef="showD">
                    <th style="width: 200px;" mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-raised-button (click)="showD(element.id)" > Show dermatologists </button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="showP">
                    <th style="width: 200px;" mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-raised-button (click)="showP(element.id)" > Show Pharmacists </button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="showM">
                    <th style="width: 200px;" mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-raised-button (click)="showM(element.id)" > Show dermatologists </button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="showDT">
                    <th style="width: 200px;" mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-raised-button (click)="showDT(element.id)" >Dermatologists free appointments</button>
                    </td>
                  </ng-container>
                  <tr style="width: 200px;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                </mat-card-content>
                <mat-paginator [pageSize]="1" [pageSizeOptions]="[1, 2, 3, 4, 5, 6]" style="margin-right: 310px;">
                </mat-paginator>
          </mat-card>
        </div>
    </div>

    <div>
      
        <button mat-button style=" margin-left: 1cm;"><a style="color: black;" href="http://localhost:4200/patient/takingMed"  >Reserve medicament </a></button>
        <button mat-button style=" margin-left: 1cm;"><a style="color: black;" href="http://localhost:4200/patient/eMedicines"  >E-medicaments </a></button>
        <button mat-button style=" margin-left: 1cm;"><a style="color: black;" href="http://localhost:4200/patient/schedulingConsulPh"  >Shedule consultation with pharmacist</a></button>
        <button mat-button style=" margin-left: 1cm;"><a style="color: black;" href="http://localhost:4200/patient/schedulingDer"  >Shadule examination at dermatologist</a></button>
        <button mat-button style=" margin-left: 1cm;" style="color: black;" (click)="showPA()" >Subscribe from actions and promotions</button>

    </div>


    





