.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color:white !important;
  }

  .apoteka1 {
    height:60em;
    background-size:cover;
    width:auto;
    background-position:100% 100%;
    background-image:url('src\assets\img\apoteka1.jpg');
 }

 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  #BEF2DB !important;
    width: 20em;
}

.container {
  height: 200px;
  position: relative;
  left: 50em;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}