<div class="apoteka1">
<div class="container">
<p>&nbsp;</p>
<h4 class="d-flex p-2 justify-content-center"></h4>
<div class="vertical-center">
    <div class="list-group">
        <button type="button" class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a  [routerLink]="['supplierprofile']" style="color:black">Profile</a></button>
        <button type="button" class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a  [routerLink]="['suppliertender']" style="color:black">Make tender</a></button>
    </div>
</div>
    </div>
</div>
