<div class="page-container">
    <div class="sidebar">

        <div class="list-items">
            <a routerLink="patientprofile" routerLinkActive="selected" class="list-item">My profile</a>
            <a routerLink="allPharmacies" routerLinkActive="selected" class="list-item">All pharmacies</a>
            <a routerLink="examinationsHistoryDer" routerLinkActive="selected" class="list-item">My examinations at a dermatologist</a>
            <a routerLink="examinationsHistoryPhar" routerLinkActive="selected" class="list-item">My examinations at a pharmaciest</a>
            <a routerLink="sheduledExaminations" routerLinkActive="selected" class="list-item">Sheduled examinations</a>
            <a routerLink="prescriptions" routerLinkActive="selected" class="list-item">My prescriptions</a>
            <a routerLink="reservedMed" routerLinkActive="selected" class="list-item">Reserved medications</a>
            <a routerLink="penals" routerLinkActive="selected" class="list-item">Penals</a>
            <a routerLink="eMedications" routerLinkActive="selected" class="list-item">Published medications</a>
            <a routerLink="subscribedPharmacies" routerLinkActive="selected" class="list-item">Subscribed pharmacies</a>
            <a routerLink="complaints" routerLinkActive="selected" class="list-item">Complaints</a>
            <a routerLink="takingMed" routerLinkActive="selected" class="list-item">Taking medications</a>
            <a routerLink="schedulingConsulPh" routerLinkActive="selected" class="list-item">Scheduling at a pharmaciest</a>
            <a routerLink="schedulingDer" routerLinkActive="selected" class="list-item">Scheduling at a dermatologist</a>
        </div>
        
    </div>
</div>