<!--<div class="page-container">
    <div class="sidebar">

        <div class="list-items">
            <a routerLink="patientprofile" routerLinkActive="selected" class="list-item">My profile</a>
            <a routerLink="allPharmacies" routerLinkActive="selected" class="list-item">All pharmacies</a>
            <a routerLink="examinationsHistoryDer" routerLinkActive="selected" class="list-item">My examinations at a dermatologist</a>
            <a routerLink="examinationsHistoryPhar" routerLinkActive="selected" class="list-item">My examinations at a pharmaciest</a>
            <a routerLink="sheduledExaminations" routerLinkActive="selected" class="list-item">Sheduled examinations</a>
            <a routerLink="prescriptions" routerLinkActive="selected" class="list-item">My prescriptions</a>
            <a routerLink="reservedMed" routerLinkActive="selected" class="list-item">Reserved medications</a>
            <a routerLink="penals" routerLinkActive="selected" class="list-item">Penals</a>
            <a routerLink="eMedications" routerLinkActive="selected" class="list-item">Published medications</a>
            <a routerLink="subscribedPharmacies" routerLinkActive="selected" class="list-item">Subscribed pharmacies</a>
            <a routerLink="complaints" routerLinkActive="selected" class="list-item">Complaints</a>
            <a routerLink="takingMed" routerLinkActive="selected" class="list-item">Taking medications</a>
            <a routerLink="schedulingConsulPh" routerLinkActive="selected" class="list-item">Scheduling at a pharmaciest</a>
            <a routerLink="schedulingDer" routerLinkActive="selected" class="list-item">Scheduling at a dermatologist</a>
        </div>
        
    </div>
</div>-->
<div class="home">
<div fxLayout="row" fxLayoutAlign="center center" class="page-container">
    <mat-card class="box" style="width: 230px; height: 100px; margin-top: 20px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>My profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="patientprofile" routerLinkActive="selected" class="list-item">
                <i class="fa fa-user-circle-o"></i>
            </a>
         </mat-card-content>
    </mat-card>
    <mat-card class="box" style="width: 230px; height: 100px; margin-top: 20px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>All pharmacies</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="allPharmacies" routerLinkActive="selected" class="building">
                <i class="fa fa-building"></i>
            </a>
        </mat-card-content>
    </mat-card>
    <mat-card class="box" style="width: 230px; height: 100px; margin-top: 20px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>My examinations</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="examinationsHistoryDer" routerLinkActive="selected" class="examination">
                <i class="fa fa-file-text" aria-hidden="true"></i>
            </a>
        </mat-card-content>
    </mat-card>
    <mat-card class="box" style="width: 230px; height: 100px; margin-top: 20px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>My examinations pharmaciest</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="examinationsHistoryPhar" routerLinkActive="selected" class="examinationPh">
                <i class="fa fa-file-text" aria-hidden="true"></i>
            </a>
        </mat-card-content>
    </mat-card>
    <mat-card class="box" style="width: 230px; height: 100px; margin-top: 20px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>Prescriptions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="prescriptions" routerLinkActive="selected" class="prescription">
                <i class="fa fa-file" aria-hidden="true"></i>
            </a>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="page-container2">
    <mat-card class="box" style="width: 230px; height: 100px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>Reserved medicines</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="reservedMed" routerLinkActive="selected" class="meds">
                <i class="fa fa-medkit" aria-hidden="true"></i>
            </a>
        </mat-card-content>
    </mat-card>
    <mat-card class="box" style="width: 230px; height: 100px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>Penals</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="penals" routerLinkActive="selected" class="prescription">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </mat-card-content>
    </mat-card>
    <mat-card class="box" style="width: 230px; height: 100px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>E Medicines</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="eMedicines" routerLinkActive="selected" class="prescription">
                <i class="fa fa-stethoscope" aria-hidden="true"></i>
            </a>
        </mat-card-content>
    </mat-card>
    <mat-card class="box" style="width: 230px; height: 100px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>Subscribed pharmacies</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="subscribedPharmacies" routerLinkActive="selected" class="subPh">
                <i class="fa fa-building-o" aria-hidden="true"></i>
            </a>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="page-container3">
    <mat-card class="box" style="width: 230px; height: 100px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>Complaints</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="complaints" routerLinkActive="selected" class="list-item">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
            </a>
         </mat-card-content>
    </mat-card>
    <mat-card class="box" style="width: 230px; height: 100px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>Taking meds</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="takingMed" routerLinkActive="selected" class="prescription">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
        </mat-card-content>
    </mat-card>
    <mat-card class="box" style="width: 230px; height: 100px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>Sheduled examination</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="sheduledExaminations" routerLinkActive="selected" class="subPh">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="page-container4">
    <mat-card class="box" style="width: 230px; height: 100px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>Schedule with dermatologist</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="schedulingDer" routerLinkActive="selected" class="meds">
                <i class="fa fa-sticky-note" aria-hidden="true"></i>
            </a>
        </mat-card-content>
    </mat-card>
    <mat-card class="box" style="width: 230px; height: 100px; margin-left: 15px;">
        <mat-card-header>
          <mat-card-title>Schedule with pharmacies</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <a routerLink="schedulingConsulPh" routerLinkActive="selected" class="schedule">
                <i class="fa fa-address-book-o"></i>
            </a>
        </mat-card-content>
    </mat-card>
</div>
</div>