<div class="dialog" fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Edit medicament price</mat-card-title>
        </mat-card-header>
            <form class="form" #formControl="ngForm">
                <mat-card-content>
                <mat-form-field class="full-width">
                  <input matInput placeholder="from_date" name="from_date" [(ngModel)]="data.from_date">
                </mat-form-field>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="to_date" name="to_date" [(ngModel)]="data.to_date" >
                  </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="price" name="price" [(ngModel)]="data.price" >
                    </mat-form-field>
                      </mat-card-content>
                <button mat-raised-button (click)="savePL()" [disabled]="!formControl.valid" style="background: rgb(179, 241, 220); margin-left: 300px;">Save</button>
                <button mat-raised-button (click)="closePL()" style="background: rgb(179, 241, 220); margin-left: 80px;">Cancel</button>
            </form>
    </mat-card>
    </div>