<div>
    <p>&nbsp;</p>
    <h4 class="d-flex p-2 justify-content-center"></h4>
        <div class="list-group">
            <button type="button" class="btn btn-primary btn-lg" style="color:black"><a [routerLink]="['addadmin']">Register system admins</a></button>
            <button type="button" class="btn btn-primary btn-lg" style="color:black">Register pharmacy and pharmacy admins</button>
            <button type="button" class="btn btn-primary btn-lg" style="color:black"><a [routerLink]="['adminregderm']">Register dermatologist</a></button>
            <button type="button" class="btn btn-primary btn-lg" style="color:black"><a [routerLink]="['adminreg']">Register suppliers</a></button>
            <button type="button" class="btn btn-primary btn-lg" style="color:black"><a [routerLink]="['medicamentslist']">Medicaments list</a></button>
        </div>
    </div>
