.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color:white !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color:  #BEF2DB !important;
  width: 20em;
}

.container {
height: 200px;
position: relative;
left: 50em;
top: 5em;
}

.vertical-center {
margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.pozadina {
  height:60em;
  background-size:cover;
  width:auto;
  background-position:50% 50%;
  background-image:url('src\assets\img\pozadina1.jpg');
}