<div class="pozadina">
<div class="container">
<p>&nbsp;</p>
    <h4 class="d-flex p-2 justify-content-center"></h4>
        <div class="vertical-center">
        <div class="list-group">
            <button type="button"  class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a style="color:black" [routerLink]="['addadmin']">Register system admins</a></button>
            <button type="button" class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;">Register pharmacy and pharmacy admins</button>
            <button type="button" class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a style="color:black" [routerLink]="['adminregderm']">Register dermatologist</a></button>
            <button type="button" class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a style="color:black" [routerLink]="['adminreg']">Register suppliers</a></button>
            <button type="button" class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a style="color:black" [routerLink]="['medicamentslist']">Medicaments list</a></button>
            <button type="button" class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a style="color:black" [routerLink]="['complaintslist']">Complaints</a></button>
        </div>
        </div>
</div>
</div>
