<div>
    <form>
        <h2 class="ui header" style="text-align:center">List of complaints</h2>
                <table class="ui celled striped table">
                    <colgroup>
                        <col span="2" style="background-color:whitesmoke">
                        <col style="background-color:whitesmoke">
                    </colgroup>
                    <thead>
                        <th>Id</th>
                        <th>Complaint</th>
                        <th>Answer</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories">
                            <td>{{ category.complaintId }}</td>
                            <td>{{ category.text }}</td>
                            <button mat-raised-button data-toggle="modal" data-target="#myModal" (click)="setComplaint(category)">Answer complaint</button>
                        </tr>
                    </tbody>
                </table>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <form (ngSubmit)="onSubmit()">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Answer complaint</h4>
            </div>
            <div class="modal-body">
              <p>
              <mat-form-field style="width:20em;">
                  <mat-label>Write answer</mat-label>
                  <textarea matInput placeholder="Write asnwer" id="write answer" name="Write answer" [(ngModel)]="answer"></textarea>
              </mat-form-field>
              </p>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-default">Send</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        </form>
      </div>
</div>