<div class="dialog" fxLayout="row" fxLayoutAlign="center center" >
  <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Change profile</mat-card-title>
      </mat-card-header>
          <form class="form" #formControl="ngForm">
              <mat-card-content>
              <mat-form-field class="full-width">
                <input matInput placeholder="firstname" name="firstname" [(ngModel)]="user.name" required>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="lastname" name="lastname" [(ngModel)]="user.surname" required>
              </mat-form-field>
                <mat-form-field class="full-width">
                  <input matInput placeholder="email" name="username" [(ngModel)]="user.username" disabled="true">
                </mat-form-field>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="address" name="address" [(ngModel)]="user.address" required>
                  </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="city" name="city" [(ngModel)]="user.city" required>
              </mat-form-field>
                <mat-form-field class="full-width">
                  <input matInput placeholder="country" name="country" [(ngModel)]="user.country" required>
                </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="phoneNumber" name="phoneNumber" [(ngModel)]="user.number" required>
                    </mat-form-field>
                    </mat-card-content>
              <button mat-raised-button (click)="save()" [disabled]="!formControl.valid" style="background: rgb(179, 241, 220); margin-left: 300px;">Save</button>
              <button mat-raised-button (click)="closeD()" style="background: rgb(179, 241, 220); margin-left: 80px;">Cancel</button>
          </form>
  </mat-card>
  </div>