mat-sidenav, mat-sidenav-content{
    padding: 16px;
    width: 250px;
    height: 800px;
    background-color: rgb(214, 226, 224);
}

mat-sidenav-container{
  background-color: cornsilk;
}

.list-items{
    margin-top: 18px;
}

.list-item{
    font-size: 17px;
    color: black;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    cursor: pointer;
}

.list-item:hover{
    color: dimgrey;
}
