<div>
    <form>
    <h2 class="ui header" style="text-align:center">My complaints</h2>
        <table class="ui celled striped table">
            <colgroup>
                <col span="3" style="background-color:whitesmoke">
                <col style="background-color:whitesmoke">
            </colgroup>
            <thead>
                <th>Id</th>
                <th>Text</th>
                <th>To (name)</th>
                <th>To (surname)</th>
            </thead>
            <tbody>
                <tr>
                <td>Jedan</td>
                <td>Dva</td>
                <td>Ff</td>
                <td>fff</td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
