<div class="dialog" fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Edit order</mat-card-title>
        </mat-card-header>
            <form class="form" #formControl="ngForm">
                <mat-card-content>
                <mat-form-field class="full-width">
                  <input matInput placeholder="medicament_name" name="medicament_name" [(ngModel)]="data.medicament_name" required>
                </mat-form-field>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="end_date" name="end_date" [(ngModel)]="data.end_date" required>
                  </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="quantity" name="quantity" [(ngModel)]="data.quantity" required>
                    </mat-form-field>
                      </mat-card-content>
                <button mat-raised-button (click)="saveEO()" [disabled]="!formControl.valid" style="background: rgb(179, 241, 220); margin-left: 300px;">Save</button>
                <button mat-raised-button (click)="closeEO()" style="background: rgb(179, 241, 220); margin-left: 80px;">Cancel</button>
            </form>
    </mat-card>
    </div>