<div class="dialog" fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Enter appointment</mat-card-title>
        </mat-card-header>
        <hr/>
            <form class="form" #formControl="ngForm" style="width: 600px; height: 350px;">
                <mat-card-content>
                <mat-form-field class="full-width">
                  <mat-label>Enter date</mat-label>
                  <input matInput placeholder="date" name="date" required [(ngModel)]="app.date">
                </mat-form-field>
            </mat-card-content>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <mat-label>Enter duration</mat-label>
                    <textarea matInput placeholder="Enter duration" name="duration" required [(ngModel)]="app.duration" ></textarea>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Enter time</mat-label>
                    <input matInput placeholder="time" name="time" required [(ngModel)]="app.time">
                  </mat-form-field>
              </mat-card-content>
              <mat-card-content>
                  <mat-form-field class="full-width">
                      <mat-label>Enter price</mat-label>
                      <textarea matInput placeholder="Enter price" name="price" required [(ngModel)]="app.price" ></textarea>
                    </mat-form-field>
                </mat-card-content>
                <button mat-raised-button [disabled]="!formControl.valid" (click)="saveAPP()" style="background: rgb(179, 241, 220); margin-left: 10px; margin-top: 50px;">Save</button>
                <button mat-raised-button (click)="cancelAPP()" style="background: rgb(179, 241, 220); margin-left: 80px;">Cancel</button>
            </form>
    </mat-card>
    </div>