<div class="dialog" fxLayout="row" fxLayoutAlign="center center">
    <mat-card-header>
        <mat-card-title>Schedule consultation</mat-card-title>
    </mat-card-header>
    <form class="form">
    <div>
        <mat-form-field class="full-width">
            <label>Date</label>
            <input matInput type="input" placeholder="Date" enable/>
        </mat-form-field>
    </div>
    <div>
            <mat-form-field class="full-width">
                <label>Time</label>
                <input matInput type="input" placeholder="Time" enable/>
            </mat-form-field>
    </div>
    <div>
            <mat-form-field class="full-width">
                <label>Type</label>
                <input matInput type="input" placeholder="Type" enable/>
            </mat-form-field>
        </div>
        </form>
</div>

<div>
    <button mat-raised-button matTooltip="Schedule">Schedule</button>
</div>