<div class="dialog" fxLayout="row" fxLayoutAlign="center center">
        <form class="form" #formControl="ngForm" style="margin-top: 100px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <mat-card-content>
                <p style="font-size: 20px;">Choose date and time for consultation:</p>
                <div>
                <mat-form-field class="full-width">
                    <input [(ngModel)]="date" matInput placeholder="E.g. 12.02.2021."
                        [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
                </div>
                <mat-form-field class="full-width">
                    <input [(ngModel)]="time" matInput placeholder="E.g. 11:00"
                        [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
            </mat-card-content>
            <div>
            <button mat-raised-button (click)="submit()"
                [disabled]="!formControl.valid">Confirm</button>
        </div>
        </form>
</div>